@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v4/UyYrYy3ltEffJV9QueSi4Z4t0mJKPaLVqklzZuc32b4.woff) format('woff');
}

html {
  font-size: 62.5%;
}

body {
  background: url('../images/honey_im_subtle_@2X.png');
  width: 100%;
}

.honeycomb {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  z-index: 0;
  background-color: rgba(0,0,0,0.8);
}

.hex-row {
  top: 0;
  white-space: nowrap;
  position: absolute;
}

.hexagon {
  position: relative;
  z-index: 0;
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hex-inner1 {
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hex-inner2 {
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: 65% !important;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.bottom-right {
  bottom: 5%;
  right: 25%;
  max-width: 30%;
  padding-right: 8%;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  z-index: 3;
}

.username {
  font-size: 1.8em;
}

.hashtag {
  font-size: 3.8em;
}

.center {
  top: 9%;
}

.message {
  font-size: 2.8em;
}


.featured-username {
  top: 5%;
  right: 0;
  font-size: 2.8em;
  padding-right: 12px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.highlight {
  height: 100%;
  width: 100%;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.featured {
  display: table-cell;
  vertical-align: middle;
}

.border {
  position:relative;
  display: inline-block;
  background-color: white;
  padding: 11px;
  opacity: 0.3;
  -webkit-transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  -ms-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

img {
  border-radius: 7px;
}

.background {
  z-index: 0;
  position: relative;
  height: 119%;
  left: 16%;
  bottom: 10%;
}

.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding-left: 12px;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1.8;
  text-align: left;
  overflow: hidden;
}

.image-description {
  font-size: 1.8em;
  bottom: 0;
  left: 0;
  max-width: 99%;
  max-height: 20%;
}

.cover {
  height: 100%;
  width: 10000px;
  background-color: red;
}
